BODY {
	FONT-SIZE: 11px; BACKGROUND: url(images/bkg.jpg) #b99f42 repeat-x; MARGIN: 5px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; moz-box-sizing: border-box; box-sizing: border-box
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; moz-box-sizing: border-box; box-sizing: border-box
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; moz-box-sizing: border-box; box-sizing: border-box
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; moz-box-sizing: border-box; box-sizing: border-box
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; moz-box-sizing: border-box; box-sizing: border-box
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.padding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.border {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 1px solid
}
.border2 {
	BORDER-RIGHT: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.border3 {
	BORDER-RIGHT: #d9d9b3 1px solid; BORDER-TOP: #d9d9b3 1px solid; BORDER-LEFT: #d9d9b3 1px solid; BORDER-BOTTOM: #d9d9b3 1px solid
}
.noborder {
	BORDER-RIGHT: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 0px solid
}
.lrborder {
	BORDER-RIGHT: #000 2px solid; BORDER-LEFT: #000 2px solid
}
.topnav {
	BORDER-TOP: #000000 2px solid; BACKGROUND: url(images/topnav_bkg2.jpg); BORDER-BOTTOM: #000000 2px solid
}
.topnavtop {
	BORDER-BOTTOM: #000000 1px solid
}
.topnavbot {
	BACKGROUND: url(images/topnav_bkg.jpg) no-repeat; BORDER-BOTTOM: #000000 2px solid
}
.topnavrow {
	BACKGROUND: url(images/topnav_bkg3.jpg); HEIGHT: 20px; TEXT-ALIGN: center
}
.topnavitem {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 9px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #796a5e 1px solid; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Bitstream Vera Sans, Helvetica
}
A.topnavitem:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.topnavitem:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.topnavitem:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.topnavitem:hover {
	BACKGROUND: #ff7a08; COLOR: #ffffff; TEXT-DECORATION: none
}
.topnavtop2 {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #666666; BORDER-BOTTOM: #000000 2px solid
}
.topnavitem2 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 2px; MARGIN: 0px; LINE-HEIGHT: 12px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Bitstream Vera Sans, Helvetica; HEIGHT: 12px
}
A.topnavitem2:link {
	COLOR: #ffffcc; TEXT-DECORATION: none
}
A.topnavitem2:visited {
	COLOR: #ffffcc; TEXT-DECORATION: none
}
A.topnavitem2:active {
	COLOR: #ffffcc; TEXT-DECORATION: none
}
A.topnavitem2:hover {
	BACKGROUND: #303d46; COLOR: #ffffcc; TEXT-DECORATION: none
}
.topshopping {
	BACKGROUND: url(images/topmenu_bkg.jpg) repeat-x
}
.topnavshop {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 1px solid; LINE-HEIGHT: 25px; PADDING-TOP: 0px; FONT-FAMILY: Bitstream Vera Sans, Verdana; HEIGHT: 25px
}
A.topnavshop:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.topnavshop:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.topnavshop:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.topnavshop:hover {
	BACKGROUND: #ff7f06; COLOR: #000000; TEXT-DECORATION: none
}
H1 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 0px 0px 7px; COLOR: #83af33; FONT-FAMILY: Bitstream Vera Sans, Verdana
}
H2 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0px 0px 7px; COLOR: #336699; FONT-FAMILY: Bitstream Vera Sans, Verdana
}
.bodycontent {
	BACKGROUND: #ffffff; VERTICAL-ALIGN: top
}
.bodycontent_right {
	BACKGROUND: #ffffff; VERTICAL-ALIGN: top
}
.feature_head {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #ff6600; COLOR: #ffffff
}
.featuring {
	BORDER-RIGHT: #e7e7cf 2px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 200px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.featuring A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.featuring2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #e7e7cf 2px solid; WIDTH: 165px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.featuring2 A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring2 A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring2 A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring2 A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.featuring3 {
	BORDER-RIGHT: #e7e7cf 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 200px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.featuring3 A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring3 A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring3 A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.featuring3 A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.featuringtext {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; COLOR: #333333; LINE-HEIGHT: 11px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica
}
A.featuringtext:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.featuringtext:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.featuringtext:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.featuringtext:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.related {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 250px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.bordertiny {
	BORDER-RIGHT: #d9d9b3 1px solid; BORDER-TOP: #d9d9b3 1px solid; MARGIN: 0px 5px 15px; BORDER-LEFT: #d9d9b3 1px solid; WIDTH: 250px; BORDER-BOTTOM: #d9d9b3 1px solid
}
.tiny {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 12px; PADDING-TOP: 3px
}
.tiny A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.tiny A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.tiny A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.tiny A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.tiny2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 12px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.tiny2 A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.tiny2 A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.tiny2 A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.tiny2 A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.tinyhead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 12px; PADDING-TOP: 5px; BORDER-BOTTOM: #d9d9b3 1px solid; TEXT-ALIGN: center
}
.popular {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.popular2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.popularfoot {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9px; PADDING-BOTTOM: 6px; COLOR: #333333; LINE-HEIGHT: 12px; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
.popularfoot A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.popularfoot A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.popularfoot A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.popularfoot A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.popularmore {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 11px; BACKGROUND: #e7e7cf; PADDING-BOTTOM: 6px; COLOR: #333333; LINE-HEIGHT: 12px; PADDING-TOP: 6px; BORDER-BOTTOM: #e2d7af 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
.popularmore A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.popularmore A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.popularmore A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.popularmore A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.catfoot {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; FONT-SIZE: 9px; PADDING-BOTTOM: 6px; COLOR: #333333; LINE-HEIGHT: 12px; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
.catfoot A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.catfoot A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.catfoot A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.catfoot A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
A.moreinfo:link {
	FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.moreinfo:visited {
	FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.moreinfo:active {
	FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.moreinfo:hover {
	FONT-WEIGHT: normal; BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.productlist {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.productlistfoot {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 10px; PADDING-BOTTOM: 20px; COLOR: #333333; LINE-HEIGHT: 12px; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: left
}
.productlistfoot A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.productlistfoot A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.productlistfoot A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.productlistfoot A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.prodlist {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 100px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.prodlist2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #333333; LINE-HEIGHT: 12px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: left
}
.prodlist2 A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.prodlist2 A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.prodlist2 A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.prodlist2 A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.prodlistfields {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; BORDER-BOTTOM: #e2d7af 3px double
}
.prodlistfields A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.prodlistfields A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.prodlistfields A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.prodlistfields A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.pages {
	PADDING-RIGHT: 16px; BORDER-TOP: #e2d7af 3px double; PADDING-LEFT: 16px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; BORDER-BOTTOM: #e2d7af 3px double
}
.pages A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.pages A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.pages A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.pages A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.price {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fb6600
}
.little {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 9px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 14px; PADDING-TOP: 8px
}
A.little:link {
	DISPLAY: block; FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.little:visited {
	DISPLAY: block; FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.little:active {
	DISPLAY: block; FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.little:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.productimage {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px 10px 5px 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.productcontainer {
	FLOAT: right; MARGIN: 0px 0px 0px 10px; WIDTH: 200px; TEXT-ALIGN: left
}
.product {
	BORDER-RIGHT: #d9d9b3 1px solid; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #d9d9b3 1px solid; WIDTH: 470px; COLOR: #333333; LINE-HEIGHT: 14px; PADDING-TOP: 10px; BORDER-BOTTOM: #d9d9b3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: left
}
.product_desc {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; COLOR: #333333; LINE-HEIGHT: 15px; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: left
}
.product_options {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 9px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: right
}
.product_notes {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; COLOR: #ff0000; LINE-HEIGHT: 9px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: right
}
.product_save {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fb6600
}
.product_freefreight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; COLOR: #ff0000; LINE-HEIGHT: 9px; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: right
}
.shiptype_error {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; COLOR: #ff0000; LINE-HEIGHT: 9px; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: right
}
.popcats {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; WIDTH: 148px; PADDING-TOP: 6px
}
.popcats A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.popcats A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.popcats A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.popcats A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.headertext {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/drive_train_bkg.jpg) #ffffff repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 39px; TEXT-ALIGN: center
}
.headertext A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.headertext A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.headertext A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.headertext A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.drivetrain {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/drive_train_bkg.jpg) #ffffff repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 39px
}
.drivetrain A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.drivetrain A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.drivetrain A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.drivetrain A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.closeouts {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(images/drive_train_bkg.jpg) #ffffff repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 7px; FONT-FAMILY: Bitstream Vera Sans, Verdana; HEIGHT: 39px; TEXT-ALIGN: center
}
.drivetrain A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.drivetrain A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.drivetrain A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.drivetrain A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.driveitems {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9px; PADDING-BOTTOM: 3px; COLOR: #336699; PADDING-TOP: 3px
}
.driveitems A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.driveitems A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.driveitems A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.driveitems A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.welcome {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 14px; PADDING-TOP: 8px; BORDER-BOTTOM: #e2d7af 3px solid
}
.welcomediv {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.blurb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 15px
}
.cats {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.subcats {
	PADDING-RIGHT: 5px; BORDER-TOP: #e2d7af 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; TEXT-ALIGN: right
}
.subcats_desc {
	PADDING-RIGHT: 10px; BORDER-TOP: #e2d7af 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
.subcats_desc A:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.subcats_desc A:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.subcats_desc A:active {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.subcats_desc A:hover {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: #f3eedb; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.producthead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(images/top_curve.jpg) #fff no-repeat; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; LINE-HEIGHT: 15px; PADDING-TOP: 0px; FONT-FAMILY: Bitstream Vera Sans, Verdana, Arial, Helvetica
}
.producthead A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.producthead A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.producthead A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.producthead A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.minidesc {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; WIDTH: 60px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.prev_desc {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; FONT-SIZE: 9px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; LINE-HEIGHT: 16px; PADDING-TOP: 3px
}
.prev_desc A:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.prev_desc A:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.prev_desc A:active {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.prev_desc A:hover {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: #f3eedb; PADDING-BOTTOM: 0px; COLOR: #336699; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.breadcrumb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 3px
}
.breadcrumb A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.breadcrumb A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.breadcrumb A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
.breadcrumb A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.productsubmit {
	BORDER-RIGHT: #ffd5b3 2px solid; BORDER-TOP: #ffd5b3 2px solid; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #ff9f51; BORDER-LEFT: #cc6600 2px solid; WIDTH: 200px; CURSOR: pointer; COLOR: #333333; BORDER-BOTTOM: #cc6600 2px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.cathead {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(images/dotted.gif) #b0c1d1 repeat-y; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 8px; FONT-FAMILY: Bitstream Vera Sans, Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
.catheadnodot {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #b0c1d1; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 8px; FONT-FAMILY: Bitstream Vera Sans, Verdana; TEXT-ALIGN: center
}
.cat {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 20px; VERTICAL-ALIGN: top; BORDER-LEFT: #b0c1d1 1px solid; PADDING-TOP: 20px; BORDER-BOTTOM: #b0c1d1 1px solid
}
.cat A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.cat A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.cat A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.cat A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.catright {
	BORDER-RIGHT: #b0c1d1 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 20px; VERTICAL-ALIGN: top; PADDING-TOP: 20px; BORDER-BOTTOM: #b0c1d1 1px solid
}
.catright A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
.catright A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
.catright A:active {
	COLOR: #336699; TEXT-DECORATION: none
}
.catright A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.proddesc {
	BORDER-RIGHT: #b0c1d1 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 10px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
.proddesc A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.proddesc A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.proddesc A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.proddesc A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.prodhead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #b0c1d1; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Bitstream Vera Sans, Verdana; TEXT-ALIGN: center
}
.prodhead1 {
	WIDTH: 90px
}
.prodhead2 {
	
}
.prodimage {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; BORDER-LEFT: #b0c1d1 1px solid; PADDING-TOP: 0px
}
A.close:link {
	BORDER-RIGHT: #ffd5b3 2px solid; BORDER-TOP: #ffd5b3 2px solid; DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: #ff9f51; BORDER-LEFT: #cc6600 2px solid; COLOR: #333333; BORDER-BOTTOM: #cc6600 2px solid; TEXT-DECORATION: none
}
A.close:visited {
	BORDER-RIGHT: #ffd5b3 2px solid; BORDER-TOP: #ffd5b3 2px solid; DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: #ff9f51; BORDER-LEFT: #cc6600 2px solid; COLOR: #333333; BORDER-BOTTOM: #cc6600 2px solid; TEXT-DECORATION: none
}
A.close:active {
	BORDER-RIGHT: #ffd5b3 2px solid; BORDER-TOP: #ffd5b3 2px solid; DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: #ff9f51; BORDER-LEFT: #cc6600 2px solid; COLOR: #333333; BORDER-BOTTOM: #cc6600 2px solid; TEXT-DECORATION: none
}
A.close:hover {
	BORDER-RIGHT: #cc6600 2px solid; BORDER-TOP: #cc6600 2px solid; DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: #ff9f51; BORDER-LEFT: #ffd5b3 2px solid; COLOR: #333333; BORDER-BOTTOM: #ffd5b3 2px solid; TEXT-DECORATION: none
}
.cartmain {
	BORDER-RIGHT: #aee2dd 1px solid; BORDER-TOP: #aee2dd 1px solid; MARGIN: 0px 0px 10px; BORDER-LEFT: #aee2dd 1px solid; BORDER-BOTTOM: #aee2dd 1px solid
}
.carttitle {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/cart_bkggrad.jpg) #ffffff repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 39px
}
.carthead {
	BORDER-RIGHT: #c4eae6 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #c4eae6 1px solid; TEXT-ALIGN: center
}
.cart {
	BORDER-RIGHT: #c4eae6 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.cart A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.cart A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.cart A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.cart A:hover {
	BACKGROUND: #f3eedb; COLOR: #336699; TEXT-DECORATION: none
}
.qty {
	BORDER-RIGHT: #000 1px inset; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px inset; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px inset; WIDTH: 35px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px inset; HEIGHT: 19px
}
.remove {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 16px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.remove A:link {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 16px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.remove A:visited {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 16px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.remove A:active {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 16px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.remove A:hover {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 16px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.update {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.update A:link {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.update A:visited {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.update A:active {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.update A:hover {
	BORDER-RIGHT: #95d9d2 3px solid; BORDER-TOP: #95d9d2 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #66cccc; MARGIN: 0px 0px 2px; BORDER-LEFT: #349288 3px solid; WIDTH: 65px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 13px; BORDER-BOTTOM: #349288 3px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.addtocartsm {
	BORDER-RIGHT: #d9d9b3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d9d9b3 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: url(images/buttonbkg.gif) #ffffff no-repeat; PADDING-BOTTOM: 1px; MARGIN: 5px; BORDER-LEFT: #d9d9b3 1px solid; WIDTH: 145px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 11px; PADDING-TOP: 3px; BORDER-BOTTOM: #d9d9b3 1px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.addtocart {
	BORDER-RIGHT: #d9d9b3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d9d9b3 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: url(images/buttonbkg.gif) #ffffff no-repeat; PADDING-BOTTOM: 1px; MARGIN: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #d9d9b3 1px solid; WIDTH: 100px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 11px; PADDING-TOP: 3px; BORDER-BOTTOM: #d9d9b3 1px solid; FONT-FAMILY: Bitstream Vera Sans, Verdana, Helvetica; POSITION: relative; TOP: -3px; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.cartfoot {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: bottom; COLOR: #333333; LINE-HEIGHT: 12px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
.cartfoot A:link {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.cartfoot A:visited {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.cartfoot A:active {
	FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: none
}
.cartfoot A:hover {
	BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.blockdiv {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 5px; PADDING-TOP: 6px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.fineprint {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #333333; LINE-HEIGHT: 14px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
.fineprint A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.fineprint A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.fineprint A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.fineprint A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.browse {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ff6600
}
A.browse:link {
	FONT-WEIGHT: normal; COLOR: #ff6600; TEXT-DECORATION: none
}
A.browse:visited {
	FONT-WEIGHT: normal; COLOR: #ff6600; TEXT-DECORATION: none
}
A.browse:active {
	FONT-WEIGHT: normal; COLOR: #ff6600; TEXT-DECORATION: none
}
A.browse:hover {
	COLOR: #336699; TEXT-DECORATION: none
}
.search {
	BORDER-RIGHT: #000 1px inset; BORDER-TOP: #000 1px inset; BORDER-LEFT: #000 1px inset; WIDTH: 140px; BORDER-BOTTOM: #000 1px inset; HEIGHT: 19px
}
.trigger {
	BORDER-RIGHT: #000 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px inset; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/arrow.gif) #fff no-repeat right top; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px inset; WIDTH: 120px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px inset; TEXT-DECORATION: none
}
.activetrigger {
	BORDER-RIGHT: #000 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px inset; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: #ccc; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px inset; WIDTH: 120px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px inset
}
.dropcontainer UL {
	BORDER-RIGHT: #000 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px inset; PADDING-LEFT: 2px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: scroll; BORDER-LEFT: #000 1px inset; WIDTH: 120px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; LIST-STYLE-TYPE: none; POSITION: absolute; HEIGHT: 300px
}
.dropdownhidden {
	LEFT: -999em; TOP: 0px
}
.dropdownvisible {
	LEFT: 0px; TOP: 0px
}
.dropcontainer UL A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 120px; COLOR: #666; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none
}
.dropcontainer UL A:hover {
	BACKGROUND: #ccc
}
.dropcontainer {
	POSITION: relative
}
A.moreinfo:link {
	FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.moreinfo:visited {
	FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.moreinfo:active {
	FONT-WEIGHT: normal; COLOR: #336699; TEXT-DECORATION: none
}
A.moreinfo:hover {
	FONT-WEIGHT: normal; BACKGROUND: #e7e7cf; COLOR: #000000; TEXT-DECORATION: none
}
.space {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 6px; PADDING-TOP: 0px
}
.line {
	BORDER-LEFT: #d9d9b3 1px solid
}
.line2 {
	BORDER-RIGHT: #d9d9b3 1px solid; BORDER-TOP: #d9d9b3 1px solid
}
.line3 {
	BORDER-RIGHT: #aee2dd 1px solid; BORDER-TOP: #aee2dd 1px solid
}
