
 
.menu2
{
    font-family: verdana,sans-serif;
    height: 28px;
    position: relative;
  
}

.menu2 ul {
	list-style-type:none;
	margin:0;
	padding:0;
	
}
.menu2 li {
	float:left;	
	position:relative;
	z-index:90;
}
.menu2 a, .menu2 a:visited {
	color:#000000;
	display:block;
    font:bold 12px/28px verdana,sans-serif;
	height:28px;
    padding:0 5px;
	text-decoration:none;
	
}
.menu2 a img {
	border:0;
	padding-right: 3px;
	
}
.menu2 ul ul {
	height:0;
	left:0;
	position:absolute;
	visibility:hidden;
	
}
.menu2 ul ul a, .menu2 ul ul a:visited {
	background:#FFA86F;
    border-bottom:1px solid #8C9095;
	color:#0379B1;
    font:normal 10px verdana,sans-serif;
	height:auto;
	padding:5px 10px;
	width:152px;
}
.menu2 a:hover, .menu ul ul a:hover
{
    background-position: #FFA86F;
    color: #0379B1;
    background: #FFA86F;
    list-style-type: circle;
}
.menu2 :hover > a, .menu2 ul ul :hover > a {
	color:#0379B1;
	background:#FFA86F;
}
.menu2 ul ul li a:hover {color:#0379B1;background:white;}
.menu2 ul li:hover ul,
.menu2 ul a:hover ul{visibility:visible; }

 

/* Header Drop Menu Styles */
.menu {
	font-family:verdana,sans-serif;
	height:28px;
	position:relative;
    z-index:100; 
	
	
}
.menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
    z-index:100; 
	
}
.menu li {
	float:left;	
	position:relative;
	z-index:100;
   white-space: nowrap;
   
}


.menu a, .menu a:visited {
	color:#000000;
	display:block;
    font:bold 12px/28px verdana,sans-serif;
	height:28px;
    padding:0 5px;
	text-decoration:none;
	
}
.menu a img {
	border:0;
	padding-right: 3px;
	
}
.menu ul ul {
	height:0;
	left:0;
	position:absolute;
	visibility:hidden;
    z-index:100; 
	
}
.menu ul ul a, .menu ul ul a:visited
{
    background-position: #F1EACE;
    background: #F1EACE;
    border-bottom: 1px solid #8C9095;
    color: #000000;
    font: normal 10px verdana,sans-serif;
    height: auto;
    padding: 5px 10px;
    width: 152px;
}
.menu a:hover, .menu ul ul a:hover
{
    background-position: #FFA86F;
    color: #000000;
    background: #FFA86F;
    list-style-type: circle;
}
.menu :hover > a, .menu ul ul :hover > a
{
    color: #000000;
    background: #FFA86F;
}
.menu ul ul li a:hover
{
    color: #000000;
    background: white;
}
.menu ul li:hover ul,
.menu ul a:hover ul{visibility:visible; }


.mv
{
    font: bold 10px  Verdana;
    background-color: #E7DCBC;
    width: 152px;
    padding: 5px 10px;
} 