<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" />
        <caching enabled="true" />
        <httpProtocol allowKeepAlive="true" />
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <httpRedirect enabled="false" destination="http://www.bicyclebuys.com/html" exactDestination="true" httpResponseStatus="Permanent" />
        <rewrite>
            <rules>
				<rule name="html_Accessories" stopProcessing="true">
					<match url="Html/Accessories.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/accessories/" />
				</rule>
				<rule name="html_Accessories_BMXAccessories" stopProcessing="true">
					<match url="Html/Accessories_BMXAccessories.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/accessories/bmx-accessories/" />
				</rule>
				<rule name="html_Accessories_Fenders" stopProcessing="true">
					<match url="Html/Accessories_Fenders.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/accessories/fenders/" />
				</rule>
				<rule name="html_Accessories_KidsAccessories" stopProcessing="true">
					<match url="Html/Accessories_KidsAccessories.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/accessories/kids-accessories/" />
				</rule>
				<rule name="html_Accessories_Mirrors" stopProcessing="true">
					<match url="Html/Accessories_Mirrors.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/accessories/mirrors/" />
				</rule>
				<rule name="html_Accessories_ReflectiveWear" stopProcessing="true">
					<match url="Html/Accessories_ReflectiveWear.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/accessories/reflective-wear/" />
				</rule>
				<rule name="html_Babyseats" stopProcessing="true">
					<match url="Html/Babyseats.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/babyseatstrikes/babyseats/" />
				</rule>
				<rule name="html_BabySeatsandTricycles" stopProcessing="true">
					<match url="Html/BabySeatsandTricycles.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/babyseatstrikes/tricycles/" />
				</rule>
				<rule name="html_BabyseatsTrikes_BabySeats" stopProcessing="true">
					<match url="Html/BabyseatsTrikes_BabySeats.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/babyseatstrikes/babyseats/" />
				</rule>
				<rule name="html_BabyseatsTrikes_Tricycles_PedalCars" stopProcessing="true">
					<match url="Html/BabyseatsTrikes_Tricycles_PedalCars.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/babyseatstrikes/tricycles/" />
				</rule>
				<rule name="html_BagsBikeRacks" stopProcessing="true">
					<match url="Html/BagsBikeRacks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/trunk-bags/" />
				</rule>
				<rule name="html_BagsRacks_BicycleRacks" stopProcessing="true">
					<match url="Html/BagsRacks_BicycleRacks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/racks/" />
				</rule>
				<rule name="html_BagsRacks_HandlebarBags" stopProcessing="true">
					<match url="Html/BagsRacks_HandlebarBags.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/handlebar-bags/" />
				</rule>
				<rule name="html_BagsRacks_PannierBags" stopProcessing="true">
					<match url="Html/BagsRacks_PannierBags.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/pannier-bag/" />
				</rule>
				<rule name="html_BagsRacks_RackBags" stopProcessing="true">
					<match url="Html/BagsRacks_RackBags.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/trunk-bags/" />
				</rule>
				<rule name="html_BagsRacks_SeatBags" stopProcessing="true">
					<match url="Html/BagsRacks_SeatBags.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/seat-bags/" />
				</rule>
				<rule name="html_BagsRacks_TrunkBags" stopProcessing="true">
					<match url="Html/BagsRacks_TrunkBags.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/trunk-bags/" />
				</rule>
				<rule name="html_BarsStems_AeroBars" stopProcessing="true">
					<match url="Html/BarsStems_AeroBars.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/handlbar-aero-bars/" />
				</rule>
				<rule name="html_BarsStems_BMXHandlebars" stopProcessing="true">
					<match url="Html/BarsStems_BMXHandlebars.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/" />
				</rule>
				<rule name="html_BarsStems_HandlebarBarEnds" stopProcessing="true">
					<match url="Html/BarsStems_HandlebarBarEnds.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/handlebar-ends/" />
				</rule>
				<rule name="html_BarsStems_HandlebarTape_Grips" stopProcessing="true">
					<match url="Html/BarsStems_HandlebarTape_Grips.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/handlebar-grips-tapes/" />
				</rule>
				<rule name="html_BarsStems_MountainHandlebars" stopProcessing="true">
					<match url="Html/BarsStems_MountainHandlebars.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/mountain-handlebars/" />
				</rule>
				<rule name="html_BarsStems_RoadHandlebars" stopProcessing="true">
					<match url="Html/BarsStems_RoadHandlebars.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/road-bars/" />
				</rule>
				<rule name="html_BarsStems_Stems" stopProcessing="true">
					<match url="Html/BarsStems_Stems.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/stems/" />
				</rule>
				<rule name="html_BicycleGroupsandKits" stopProcessing="true">
					<match url="Html/BicycleGroupsandKits.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/groupkits/roadgroups/" />
				</rule>
				<rule name="html_BicycleLights" stopProcessing="true">
					<match url="Html/BicycleLights.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/lights/" />
				</rule>
				<rule name="html_BicyclePumps" stopProcessing="true">
					<match url="Html/BicyclePumps.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pumps/" />
				</rule>
				<rule name="html_Bicycles" stopProcessing="true">
					<match url="Html/Bicycles.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/" />
				</rule>
				<rule name="html_BicycleStorage" stopProcessing="true">
					<match url="Html/BicycleStorage.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/storagesystems/" />
				</rule>
				<rule name="html_BicycleStorageSystems" stopProcessing="true">
					<match url="Html/BicycleStorageSystems.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/storagesystems/" />
				</rule>
				<rule name="html_BicycleTires_Tubes" stopProcessing="true">
					<match url="Html/BicycleTires_Tubes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/tires/tubes/" />
				</rule>
				<rule name="html_BicycleWheels" stopProcessing="true">
					<match url="Html/BicycleWheels.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/wheels/" />
				</rule>
				<rule name="html_BikeAccessories" stopProcessing="true">
					<match url="Html/BikeAccessories.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/accessories/" />
				</rule>
				<rule name="html_BikeParts" stopProcessing="true">
					<match url="Html/BikeParts.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/" />
				</rule>
				<rule name="html_BikeParts_BikeParts" stopProcessing="true">
					<match url="Html/BikeParts_BikeParts.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/" />
				</rule>
				<rule name="html_BikeParts_Brakes-Standard" stopProcessing="true">
					<match url="Html/BikeParts_Brakes-Standard.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/brakes/" />
				</rule>
				<rule name="html_BikeParts_Cables" stopProcessing="true">
					<match url="Html/BikeParts_Cables.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/brakes/" />
				</rule>
				<rule name="html_BikeParts_DiscBrakes" stopProcessing="true">
					<match url="Html/BikeParts_DiscBrakes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/disc-brakes/" />
				</rule>
				<rule name="html_BikeParts_Forks_SuspensionShocks" stopProcessing="true">
					<match url="Html/BikeParts_Forks_SuspensionShocks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/suspension-forks/" />
				</rule>
				<rule name="html_BikeParts_Headsets" stopProcessing="true">
					<match url="Html/BikeParts_Headsets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/headsets/" />
				</rule>
				<rule name="html_BikeParts_Hubs" stopProcessing="true">
					<match url="Html/BikeParts_Hubs.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/hubs/" />
				</rule>
				<rule name="html_BikeParts_Kickstands" stopProcessing="true">
					<match url="Html/BikeParts_Kickstands.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/kickstands/" />
				</rule>
				<rule name="html_BikeParts_MiscellaneousBikeParts" stopProcessing="true">
					<match url="Html/BikeParts_MiscellaneousBikeParts.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/" />
				</rule>
				<rule name="html_BikeParts_Seatposts" stopProcessing="true">
					<match url="Html/BikeParts_Seatposts.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/seatposts/" />
				</rule>
				<rule name="html_BikeParts_ShockTools_Accessories" stopProcessing="true">
					<match url="Html/BikeParts_ShockTools_Accessories.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/" />
				</rule>
				<rule name="html_Bikes_ATBFramesets" stopProcessing="true">
					<match url="Html/Bikes_ATBFramesets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/mountain-frame/" />
				</rule>
				<rule name="html_Bikes_BMXFreestyle_Racing" stopProcessing="true">
					<match url="Html/Bikes_BMXFreestyle_Racing.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/bmx-freestyle-bikes/" />
				</rule>
				<rule name="html_Bikes_BMXJumpingBikes" stopProcessing="true">
					<match url="Html/Bikes_BMXJumpingBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/bmx-jumping-bikes/" />
				</rule>
				<rule name="html_Bikes_ChildrensBikes-16-24" stopProcessing="true">
					<match url="Html/Bikes_ChildrensBikes-16-24.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/childrens-bikes/" />
				</rule>
				<rule name="html_Bikes_CruiserBikes" stopProcessing="true">
					<match url="Html/Bikes_CruiserBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/" />
				</rule>
				<rule name="html_Bikes_FoldingBikes" stopProcessing="true">
					<match url="Html/Bikes_FoldingBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/folding-bikes/" />
				</rule>
				<rule name="html_Bikes_FrontSuspensionBikes" stopProcessing="true">
					<match url="Html/Bikes_FrontSuspensionBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/front-suspension-bikes/" />
				</rule>
				<rule name="html_Bikes_FullSuspensionBikes" stopProcessing="true">
					<match url="Html/Bikes_FullSuspensionBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/full-suspension-bike/" />
				</rule>
				<rule name="html_Bikes_HybridBikes" stopProcessing="true">
					<match url="Html/Bikes_HybridBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/hybrid-bikes/" />
				</rule>
				<rule name="html_Bikes_MountainBikes" stopProcessing="true">
					<match url="Html/Bikes_MountainBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/mountain-bikes/" />
				</rule>
				<rule name="html_Bikes_RoadBikes" stopProcessing="true">
					<match url="Html/Bikes_RoadBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/road-bikes/" />
				</rule>
				<rule name="html_Bikes_RoadFramesets" stopProcessing="true">
					<match url="Html/Bikes_RoadFramesets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/road-frame/" />
				</rule>
				<rule name="html_Bikes_SportComfortBikes" stopProcessing="true">
					<match url="Html/Bikes_SportComfortBikes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/sport-comfort-bikes/" />
				</rule>
				<rule name="html_Bikes_Unicycles" stopProcessing="true">
					<match url="Html/Bikes_Unicycles.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/unicycles/" />
				</rule>
				<rule name="html_CarBicycleCarriers" stopProcessing="true">
					<match url="Html/CarBicycleCarriers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/carcarriers/trunk-bike-carrier/" />
				</rule>
				<rule name="html_CarCarriers" stopProcessing="true">
					<match url="Html/CarCarriers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/carcarriers/trunk-bike-carrier/" />
				</rule>
				<rule name="html_Carcarriers_HitchCarriers" stopProcessing="true">
					<match url="Html/Carcarriers_HitchCarriers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/carcarriers/hitch-bike-carrier/" />
				</rule>
				<rule name="html_Carcarriers_RoofCarriers" stopProcessing="true">
					<match url="Html/Carcarriers_RoofCarriers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/carcarriers/roof-bike-carrier/" />
				</rule>
				<rule name="html_Carcarriers_TrunkCarriers" stopProcessing="true">
					<match url="Html/Carcarriers_TrunkCarriers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/carcarriers/trunk-bike-carrier/" />
				</rule>
				<rule name="html_Clothing" stopProcessing="true">
					<match url="Html/Clothing.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/" />
				</rule>
				<rule name="html_Clothing_Bib-Shorts" stopProcessing="true">
					<match url="Html/Clothing_Bib-Shorts.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bib-shorts/" />
				</rule>
				<rule name="html_Clothing_BibsshortAndtight" stopProcessing="true">
					<match url="/Html/Clothing_Bibs(shortAndtight).htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bib-shorts/" />
				</rule>
				<rule name="html_Clothing_Bibs-Short" stopProcessing="true">
					<match url="Html/Clothing_Bibs-Short.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bib-shorts/" />
				</rule>
				<rule name="html_Clothing_BibTights-new" stopProcessing="true">
					<match url="Html/Clothing_BibTights-new.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bib-tights/" />
				</rule>
				<rule name="html_Clothing_BibTights" stopProcessing="true">
					<match url="Html/Clothing_BibTights.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bib-tights/" />
				</rule>
				<rule name="html_Clothing_BibTightsLong" stopProcessing="true">
					<match url="Html/Clothing_BibTightsLong.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bib-tights/" />
				</rule>
				<rule name="html_Clothing_BicycleGloves" stopProcessing="true">
					<match url="Html/Clothing_BicycleGloves.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/gloves/" />
				</rule>
				<rule name="html_Clothing_BicycleHats_Caps" stopProcessing="true">
					<match url="Html/Clothing_BicycleHats_Caps.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bicycle-hats/" />
				</rule>
				<rule name="html_Clothing_BicycleShorts" stopProcessing="true">
					<match url="Html/Clothing_BicycleShorts.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/shorts/" />
				</rule>
				<rule name="html_Clothing_BicycleSocks" stopProcessing="true">
					<match url="Html/Clothing_BicycleSocks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/socks/" />
				</rule>
				<rule name="html_Clothing_BicycleTights" stopProcessing="true">
					<match url="Html/Clothing_BicycleTights.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/tights/" />
				</rule>
				<rule name="html_Clothing_BicyleHats_Caps" stopProcessing="true">
					<match url="Html/Clothing_BicyleHats_Caps.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bicycle-hats/" />
				</rule>
				<rule name="html_Clothing_BodyArmor" stopProcessing="true">
					<match url="Html/Clothing_BodyArmor.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/" />
				</rule>
				<rule name="html_Clothing_BodyLotions" stopProcessing="true">
					<match url="Html/Clothing_BodyLotions.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/body-lotions/" />
				</rule>
				<rule name="html_Clothing_CycleHats_Caps" stopProcessing="true">
					<match url="Html/Clothing_CycleHats_Caps.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/bicycle-hats/" />
				</rule>
				<rule name="html_Clothing_CycleShorts" stopProcessing="true">
					<match url="Html/Clothing_CycleShorts.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/shorts/" />
				</rule>
				<rule name="html_Clothing_CyclingGloves" stopProcessing="true">
					<match url="Html/Clothing_CyclingGloves.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/gloves/" />
				</rule>
				<rule name="html_Clothing_CyclingSocks" stopProcessing="true">
					<match url="Html/Clothing_CyclingSocks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/socks/" />
				</rule>
				<rule name="html_Clothing_CyclingTights" stopProcessing="true">
					<match url="Html/Clothing_CyclingTights.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/tights/" />
				</rule>
				<rule name="html_Clothing_Eyewear" stopProcessing="true">
					<match url="Html/Clothing_Eyewear.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/eyeglasses/" />
				</rule>
				<rule name="html_Clothing_Jackets" stopProcessing="true">
					<match url="Html/Clothing_Jackets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/jackets/" />
				</rule>
				<rule name="html_Clothing_Jerseys" stopProcessing="true">
					<match url="Html/Clothing_Jerseys.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/jerseys/" />
				</rule>
				<rule name="html_Clothing_WinterClothing_Accessories" stopProcessing="true">
					<match url="Html/Clothing_WinterClothing_Accessories.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/winter-clothing-accessories/" />
				</rule>
				<rule name="html_Clothing_xxxxxxx" stopProcessing="true">
					<match url="Html/Clothing_xxxxxxx.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/clothing/" />
				</rule>
				<rule name="html_Components" stopProcessing="true">
					<match url="Html/Components.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/" />
				</rule>
				<rule name="html_CycleComputers" stopProcessing="true">
					<match url="Html/CycleComputers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/electronics/bicycle-computers/" />
				</rule>
				<rule name="html_CycleComputersandHeartRateMonitors" stopProcessing="true">
					<match url="Html/CycleComputersandHeartRateMonitors.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/electronics/heart-rate-monitors/" />
				</rule>
				<rule name="html_CyclingShoes" stopProcessing="true">
					<match url="Html/CyclingShoes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/shoes/" />
				</rule>
				<rule name="html_DrivetrainComponents" stopProcessing="true">
					<match url="Html/DrivetrainComponents.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/" />
				</rule>
				<rule name="html_Drivetrain_BottomBrackets" stopProcessing="true">
					<match url="Html/Drivetrain_BottomBrackets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/bottom-brackets/" />
				</rule>
				<rule name="html_Drivetrain_Cassettes" stopProcessing="true">
					<match url="Html/Drivetrain_Cassettes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/cassettes/" />
				</rule>
				<rule name="html_Drivetrain_Chains" stopProcessing="true">
					<match url="Html/Drivetrain_Chains.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/chains/" />
				</rule>
				<rule name="html_Drivetrain_CrankSets" stopProcessing="true">
					<match url="Html/Drivetrain_CrankSets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/cranks/" />
				</rule>
				<rule name="html_Drivetrain_FrontDerailleurs" stopProcessing="true">
					<match url="Html/Drivetrain_FrontDerailleurs.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/front-derailleurs/" />
				</rule>
				<rule name="html_Drivetrain_MountainShifters" stopProcessing="true">
					<match url="Html/Drivetrain_MountainShifters.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/mountain-shifters/" />
				</rule>
				<rule name="html_Drivetrain_RacingBikes-DoubleCranks" stopProcessing="true">
					<match url="Html/Drivetrain_RacingBikes-DoubleCranks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/cranks/" />
				</rule>
				<rule name="html_Drivetrain_RacingBikes-TripleCranks" stopProcessing="true">
					<match url="Html/Drivetrain_RacingBikes-TripleCranks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/cranks/" />
				</rule>
				<rule name="html_Drivetrain_RearDerailleur" stopProcessing="true">
					<match url="Html/Drivetrain_RearDerailleur.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/rear-derailleurs/" />
				</rule>
				<rule name="html_Drivetrain_RoadShifters" stopProcessing="true">
					<match url="Html/Drivetrain_RoadShifters.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/drivetrain/road-shifters/" />
				</rule>
				<rule name="html_Electronics_BicycleComputers" stopProcessing="true">
					<match url="Html/Electronics_BicycleComputers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/electronics/bicycle-computers/" />
				</rule>
				<rule name="html_Electronics_CycleComputers" stopProcessing="true">
					<match url="Html/Electronics_CycleComputers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/electronics/bicycle-computers/" />
				</rule>
				<rule name="html_Electronics_HeartRateMonitors" stopProcessing="true">
					<match url="Html/Electronics_HeartRateMonitors.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/electronics/heart-rate-monitors/" />
				</rule>
				<rule name="html_Food" stopProcessing="true">
					<match url="Html/Food.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/hydration/energy-food/" />
				</rule>
				<rule name="html_GroupKits" stopProcessing="true">
					<match url="Html/GroupKits.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/groupkits/roadgroups/" />
				</rule>
				<rule name="html_GroupKits_MountainBikeKits" stopProcessing="true">
					<match url="Html/GroupKits_MountainBikeKits.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/groupkits/mtbkits/" />
				</rule>
				<rule name="html_GroupKits_RoadGroups" stopProcessing="true">
					<match url="Html/GroupKits_RoadGroups.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/groupkits/roadgroups/" />
				</rule>
				<rule name="html_GroupKits_Temp" stopProcessing="true">
					<match url="Html/GroupKits_Temp.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/groupkits/roadgroups/" />
				</rule>
				<rule name="html_HandlebarsandStems" stopProcessing="true">
					<match url="Html/HandlebarsandStems.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/barsstems/" />
				</rule>
				<rule name="html_HeartRateMonitors" stopProcessing="true">
					<match url="Html/HeartRateMonitors.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/electronics/heart-rate-monitors/" />
				</rule>
				<rule name="html_Helmets" stopProcessing="true">
					<match url="Html/Helmets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/helmets/" />
				</rule>
				<rule name="html_Helmets_BMXHelmets" stopProcessing="true">
					<match url="Html/Helmets_BMXHelmets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/helmets/bmx-helmets/" />
				</rule>
				<rule name="html_Helmets_Kids_YouthHelmets" stopProcessing="true">
					<match url="Html/Helmets_Kids_YouthHelmets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/helmets/" />
				</rule>
				<rule name="html_Helmets_MountainHelmets" stopProcessing="true">
					<match url="Html/Helmets_MountainHelmets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/helmets/mountain-helmets/" />
				</rule>
				<rule name="html_Helmets_RoadHelmets" stopProcessing="true">
					<match url="Html/Helmets_RoadHelmets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/helmets/road-helmets/" />
				</rule>
				<rule name="html_Helmets_SportHelmets" stopProcessing="true">
					<match url="Html/Helmets_SportHelmets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/helmets/sport-helmets/" />
				</rule>
				<rule name="html_Hydration_BottleCages" stopProcessing="true">
					<match url="Html/Hydration_BottleCages.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/hydration/water-bottle-cages/" />
				</rule>
				<rule name="html_Hydration_BottleCagesandNutrition" stopProcessing="true">
					<match url="Html/Hydration_BottleCagesandNutrition.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/hydration/water-bottles/" />
				</rule>
				<rule name="html_Hydration_EnergyFoodandDrinks" stopProcessing="true">
					<match url="Html/Hydration_EnergyFoodandDrinks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/hydration/energy-food/" />
				</rule>
				<rule name="html_Hydration_HydrationPacks" stopProcessing="true">
					<match url="Html/Hydration_HydrationPacks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/hydration/" />
				</rule>
				<rule name="html_Hydration_WaterBottles" stopProcessing="true">
					<match url="Html/Hydration_WaterBottles.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/hydration/water-bottles/" />
				</rule>
				<rule name="html_IndoorTrainers" stopProcessing="true">
					<match url="Html/IndoorTrainers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/indoortrainers/indoor-bicycle-trainers/" />
				</rule>
				<rule name="html_Indoortrainers_IndoorTrainer" stopProcessing="true">
					<match url="Html/Indoortrainers_IndoorTrainer.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/indoortrainers/indoor-bicycle-trainers/" />
				</rule>
				<rule name="html_IndoorTrainers_IndoorTrainers" stopProcessing="true">
					<match url="Html/IndoorTrainers_IndoorTrainers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/indoortrainers/indoor-bicycle-trainers/" />
				</rule>
				<rule name="html_Joggers" stopProcessing="true">
					<match url="Html/Joggers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/" />
				</rule>
				<rule name="html_Joggers_Joggers" stopProcessing="true">
					<match url="Html/Joggers_Joggers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikes/" />
				</rule>
				<rule name="html_Joggers_Trailers" stopProcessing="true">
					<match url="Html/Joggers_Trailers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/joggers/children-trailers/" />
				</rule>
				<rule name="html_Lights_HeadLights" stopProcessing="true">
					<match url="Html/Lights_HeadLights.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/lights/head-lights/" />
				</rule>
				<rule name="html_Lights_LightSets" stopProcessing="true">
					<match url="Html/Lights_LightSets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/lights/light-sets/" />
				</rule>
				<rule name="html_Lights_TailLights" stopProcessing="true">
					<match url="Html/Lights_TailLights.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/lights/tail-lights/" />
				</rule>
				<rule name="html_Locks" stopProcessing="true">
					<match url="Html/Locks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/locks/" />
				</rule>
				<rule name="html_Locks_CableLocks" stopProcessing="true">
					<match url="Html/Locks_CableLocks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/locks/cable-locks/" />
				</rule>
				<rule name="html_Locks_ChainLocks" stopProcessing="true">
					<match url="Html/Locks_ChainLocks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/locks/chain-locks/" />
				</rule>
				<rule name="html_Locks_DiscLocks" stopProcessing="true">
					<match url="Html/Locks_DiscLocks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/locks/disc-locks/" />
				</rule>
				<rule name="html_Locks_U-Locks" stopProcessing="true">
					<match url="Html/Locks_U-Locks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/locks/u-locks/" />
				</rule>
				<rule name="html_Lubricants" stopProcessing="true">
					<match url="Html/Lubricants.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/" />
				</rule>
				<rule name="html_Maintenance_BicycleRepairStands" stopProcessing="true">
					<match url="Html/Maintenance_BicycleRepairStands.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/repair-stands/" />
				</rule>
				<rule name="html_Maintenance_BicycleToolSets" stopProcessing="true">
					<match url="Html/Maintenance_BicycleToolSets.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/tool-sets/" />
				</rule>
				<rule name="html_Maintenance_BrakeTools" stopProcessing="true">
					<match url="Html/Maintenance_BrakeTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/brake-tools/" />
				</rule>
				<rule name="html_Maintenance_DrivetrainTools" stopProcessing="true">
					<match url="Html/Maintenance_DrivetrainTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/drivetrain-tools/" />
				</rule>
				<rule name="html_Maintenance_Headset_BottomBracketTools" stopProcessing="true">
					<match url="Html/Maintenance_Headset_BottomBracketTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/drivetrain-tools/" />
				</rule>
				<rule name="html_Maintenance_Lubricants" stopProcessing="true">
					<match url="Html/Maintenance_Lubricants.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/" />
				</rule>
				<rule name="html_Maintenance_MiscellaneousTools" stopProcessing="true">
					<match url="Html/Maintenance_MiscellaneousTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/miscellaneous-tools/" />
				</rule>
				<rule name="html_Maintenance_MultiTools" stopProcessing="true">
					<match url="Html/Maintenance_MultiTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/multi-tools/" />
				</rule>
				<rule name="html_Maintenance_Tire-WheelTools" stopProcessing="true">
					<match url="Html/Maintenance_Tire-WheelTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/wheel-tire-tools/" />
				</rule>
				<rule name="html_Maintenance_Tiretools" stopProcessing="true">
					<match url="Html/Maintenance_Tiretools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/wheel-tire-tools/" />
				</rule>
				<rule name="html_Maintenance_Wheel-Tire-Tools" stopProcessing="true">
					<match url="Html/Maintenance_Wheel-Tire-Tools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/wheel-tire-tools/" />
				</rule>
				<rule name="html_Maintenance_Wheels_RimsTools" stopProcessing="true">
					<match url="Html/Maintenance_Wheels_RimsTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/wheel-tire-tools/" />
				</rule>
				<rule name="html_Pedals" stopProcessing="true">
					<match url="Html/Pedals.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pedals/" />
				</rule>
				<rule name="html_Pedals_Bmx_AdultStandardPedals" stopProcessing="true">
					<match url="Html/Pedals_Bmx_AdultStandardPedals.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pedals/regular-pedals/" />
				</rule>
				<rule name="html_Pedals_MountainCliplessPedals" stopProcessing="true">
					<match url="Html/Pedals_MountainCliplessPedals.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pedals/mountain-pedals/" />
				</rule>
				<rule name="html_Pedals_RoadCliplessPedals" stopProcessing="true">
					<match url="Html/Pedals_RoadCliplessPedals.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pedals/road-pedals/" />
				</rule>
				<rule name="html_Pumps_AirInflators" stopProcessing="true">
					<match url="Html/Pumps_AirInflators.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pumps/air-inflators/" />
				</rule>
				<rule name="html_Pumps_FloorPumps" stopProcessing="true">
					<match url="Html/Pumps_FloorPumps.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pumps/floor-pumps/" />
				</rule>
				<rule name="html_Pumps_FramePumps" stopProcessing="true">
					<match url="Html/Pumps_FramePumps.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/pumps/frame-pumps/" />
				</rule>
				<rule name="html_Seats" stopProcessing="true">
					<match url="Html/Seats.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/seats/" />
				</rule>
				<rule name="html_Seats_Comfort_CruiserSeats" stopProcessing="true">
					<match url="Html/Seats_Comfort_CruiserSeats.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/seats/comfort-seats/" />
				</rule>
				<rule name="html_Seats_MountainSeats" stopProcessing="true">
					<match url="Html/Seats_MountainSeats.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/seats/mountain-seats/" />
				</rule>
				<rule name="html_Seats_RoadSeats" stopProcessing="true">
					<match url="Html/Seats_RoadSeats.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/seats/road-saddles/" />
				</rule>
				<rule name="html_Shocks" stopProcessing="true">
					<match url="Html/Shocks.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bikeparts/shock-tools/" />
				</rule>
				<rule name="html_Shoes_MountainShoes" stopProcessing="true">
					<match url="Html/Shoes_MountainShoes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/shoes/mountain-shoes/" />
				</rule>
				<rule name="html_Shoes_RoadShoes" stopProcessing="true">
					<match url="Html/Shoes_RoadShoes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/shoes/road-shoes/" />
				</rule>
				<rule name="html_Shoes_SpinningShoes" stopProcessing="true">
					<match url="Html/Shoes_SpinningShoes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/shoes/spinning-shoes/" />
				</rule>
				<rule name="html_StorageSystems_FloorStorageSystems" stopProcessing="true">
					<match url="Html/StorageSystems_FloorStorageSystems.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/storagesystems/floorstorage/" />
				</rule>
				<rule name="html_StorageSystems_IndoorStorage" stopProcessing="true">
					<match url="Html/StorageSystems_IndoorStorage.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/storagesystems/indoor-bicycle-storage/" />
				</rule>
				<rule name="html_StorageSystems_ParkingStands" stopProcessing="true">
					<match url="Html/StorageSystems_ParkingStands.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/storagesystems/parking-stands/" />
				</rule>
				<rule name="html_StorageSystems_WallStorageSystems" stopProcessing="true">
					<match url="Html/StorageSystems_WallStorageSystems.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/storagesystems/indoor-bicycle-storage/" />
				</rule>
				<rule name="html_TiresAndTubes" stopProcessing="true">
					<match url="Html/TiresAndTubes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/tires/" />
				</rule>
				<rule name="html_Tires_BmxTires" stopProcessing="true">
					<match url="Html/Tires_BmxTires.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/tires/" />
				</rule>
				<rule name="html_Tires_MountainTires" stopProcessing="true">
					<match url="Html/Tires_MountainTires.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/tires/mountain-tires/" />
				</rule>
				<rule name="html_Tires_RoadTires" stopProcessing="true">
					<match url="Html/Tires_RoadTires.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/tires/road-tires/" />
				</rule>
				<rule name="html_Tires_Tire-WheelTools" stopProcessing="true">
					<match url="Html/Tires_Tire-WheelTools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/wheel-tire-tools/" />
				</rule>
				<rule name="html_Tires_Tiretools" stopProcessing="true">
					<match url="Html/Tires_Tiretools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/wheel-tire-tools/" />
				</rule>
				<rule name="html_Tires_Tubes" stopProcessing="true">
					<match url="Html/Tires_Tubes.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/tires/tubes/" />
				</rule>
				<rule name="html_Tires_Wheel-Tire-Tools" stopProcessing="true">
					<match url="Html/Tires_Wheel-Tire-Tools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/wheel-tire-tools/" />
				</rule>
				<rule name="html_Tools" stopProcessing="true">
					<match url="Html/Tools.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/maintenance/" />
				</rule>
				<rule name="html_Trailers_Joggers" stopProcessing="true">
					<match url="Html/Trailers_Joggers.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/joggers/jogger/" />
				</rule>
				<rule name="html_Wheels" stopProcessing="true">
					<match url="Html/Wheels.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/wheels/" />
				</rule>
				<rule name="html_Wheels_BMXWheels" stopProcessing="true">
					<match url="Html/Wheels_BMXWheels.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/wheels/bmx-wheels/" />
				</rule>
				<rule name="html_Wheels_MountainWheels" stopProcessing="true">
					<match url="Html/Wheels_MountainWheels.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/wheels/mountain-wheels/" />
				</rule>
				<rule name="html_Wheels_RoadWheels" stopProcessing="true">
					<match url="Html/Wheels_RoadWheels.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/wheels/road-wheels/" />
				</rule>
				<rule name="html_Wheels_WheelBags" stopProcessing="true">
					<match url="Html/Wheels_WheelBags.htm" />
					<conditions logicalGrouping="MatchAny" />
					<action type="Redirect" url="http://www.bicyclebuys.com/bagsracks/" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
