<TABLE>
<TR>
	<TD align="CENTER">
	<HR noshade color="BLACK">
	<P><FONT size="2">
	<B>
	<A href="/ASPScripts/Goto.asp?ID=23">Windows Internet Technology</A> |
	<A href="/webtech/">ASP Articles</A> |
	<A href="http://www.aspmessageboard.com/">ASPMessageboard.com</A> |
	<A href="http://www.aspfaqs.com/aspfaqs/">ASPFAQs.com</A> |
	<A href="http://aspnet.4guysfromrolla.com/">ASP.NET</A> |
	<A href="/advertise.shtml">Advertise</A> |
	<A href="/feedback.shtml">Feedback</A> |
	<A href="/awards.shtml">Awards</A> |
	<A href="/authors.shtml">Author an Article</A>
	</B>
	<P>
	<HR noshade color="BLACK">
	[%4guys.copyright%]
	</FONT>
	</TD>
</TR>
</TABLE>