<TABLE>
	<TR>
		<TD><A href="http://www.4guysfromrolla.com/"><IMG src="[%imgpath%]newbanner.gif" border="0" alt="4GuysFromRolla.com - All this and it counts as work!" width="443" height="44"></A>
		</TD>
		<TD>
			<TABLE cellpadding="0" cellspacing="0">
				<TR>
					<TD><A href="/webtech/index.shtml"><IMG src="[%imgpath%]asp.gif" border="0" alt="ASP Articles" width="128" height="15"></A>
<A href="http://www.aspmessageboard.com/"><IMG alt="Web Technology Message Board" src="[%imgpath%]messageboard.gif" border="0" width="128" height="15"></A>
					</TD>
				</TR>
				<TR>
					<TD><A href="/search"><IMG src="[%imgpath%]search.gif" alt="Search 4Guys!" border="0" width="128" height="15"></A>
<A href="http://aspnet.4guysfromrolla.com/"><IMG src="[%imgpath%]aspnet.gif" border="0" alt="Web Chat" width="128" height="15"></A>
					</TD>
				</TR>
				<TR>
					<TD><A href="http://www.aspfaqs.com/aspfaqs/"><IMG src="[%imgpath%]aspfaqs.gif" alt="ASPFAQs.com" border="0" width="128" height="15"></A>
<A href="/feedback.shtml"><IMG src="[%imgpath%]feedback.gif" border="0" alt="Feedback" width="128" height="15"></A>
					</TD>
				</TR>
				<TR>
					<TD><IMG src="[%imgpath%]allthis.gif" width="163" height="8">
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>