<CENTER><A href="http://www.internet.com/"><IMG src="[%imgpath%]icom.gif" alt="Internet.com - The Internet and IT Network" width="128" height="24" border="0"></A></CENTER><BR>
				<TABLE cellspacing="0" frame="box" rules="rows" border="0" width="98%" cellpadding="0">
					<TR>
						<TD align="LEFT" valign="TOP" bgcolor="BLACK"><IMG src="[%imgpath%]lcorner.gif" width="4" height="4">
						</TD>
						<TD bgcolor="black" align="center"><FONT color="white"><B>How To's</B></FONT>
						</TD>
						<TD align="RIGHT" valign="TOP" bgcolor="BLACK"><IMG src="[%imgpath%]rcorner.gif" width="4" height="4">
						</TD>
					</TR>
					<TR>
						<TD bgcolor="white" colspan="3">
						<CENTER><FONT size="2"><B>Where can I host my ASP Site?</B></FONT><BR><A href="http://63.236.73.180/goto.asp?name=4nav_maxasp"><IMG src="[%imgpath%]maxaspbutton2.gif" border="1" alt="Please support our sponsors!" width="125" height="125"></A></CENTER>
<P>
<HR noshade>
						<CENTER><FONT size="2"><B>Work with PDF Documents!</B></FONT><BR><A href="http://63.236.73.180/goto.asp?name=4nav_activepdf"><IMG src="[%imgpath%]activePDF-125x125.gif" border="1" alt="Please support our sponsors!" width="125" height="125"></A></CENTER>
<P>
<HR noshade>
						<CENTER><FONT size="2"><B>How can I sniff browser settings and plugins?</B></FONT><BR><A href="http://www.cyscape.com/free.asp?q=4guy-103"><IMG src="[%imgpath%]BHawk_125x125.gif" border="1" width="125" height="125" alt="Please support our sponsors."></A></CENTER>
<P>
<HR noshade>
<HR noshade>
						<CENTER><FONT size="2"><B>How can I improve my Web site's performance through caching?</B></FONT><BR>[<A href="http://www.aspfaqs.com/aspfaqs/ShowFAQ.asp?FAQID=142">Find out How!</A>]</CENTER>
<P>
<HR noshade>
						<CENTER><FONT size="2"><B>What's the difference between
						<CODE>ByRef</CODE>and
						<CODE>ByVal</CODE>?</B></FONT><BR>[<A href="http://www.asp101.com/tips/index.asp?id=68">Find out!</A>]</CENTER>
<P>
<HR noshade>
						<CENTER><FONT size="2"><B>Where can I learn more about arrays?</B></FONT><BR>[<A href="http://www.aspfaqs.com/aspfaqs/ShowCategory.asp?CatID=1">Find out Where!</A>]</CENTER>
<P>
						</TD>
					</TR>
				</TABLE><BR>
				<TABLE border="0" cellspacing="0" frame="box" rules="rows" width="98%" cellpadding="0">
					<TR>
						<TD align="LEFT" valign="TOP" bgcolor="BLACK"><IMG src="[%imgpath%]lcorner.gif" width="4" height="4">
						</TD>
						<TD bgcolor="black" align="center"><A href="/webweekly"><FONT color="white"><B>Newsletter</B></FONT></A>
						</TD>
						<TD align="RIGHT" valign="TOP" bgcolor="BLACK"><IMG src="[%imgpath%]rcorner.gif" width="4" height="4">
						</TD>
					</TR>
					<TR>
						<TD bgcolor="white" colspan="3"><FONT size="2">
							<FORM action="http://e-newsletters.internet.com/cgi-bin/subscribe" method="post" name="frmNewsflash">								
								<INPUT type="hidden" name="List_Name" value="4guysfromrolla-text">
							<CENTER><B>Your e-mail address:</B><BR/>								
								<INPUT type="text" name="email"></INPUT><BR/>								
								<INPUT
type="submit" name="submit" value="Subscribe"></INPUT><BR/><I>Signup for <A href="/WebWeekly/">WebWeekly</A>, the weekly 4Guys newsletter!</I></CENTER>
							</FORM></FONT>
						</TD>
					</TR>
				</TABLE><BR>
				<TABLE border="0" cellspacing="0" frame="box" rules="rows" width="98%" cellpadding="0">
					<TR>
						<TD align="LEFT" valign="TOP" bgcolor="BLACK"><IMG src="[%imgpath%]lcorner.gif" width="4" height="4">
						</TD>
						<TD bgcolor="black" align="center"><A href="/ASPScripts/Goto.asp?ID=23"><FONT color="white"><B>Windows Internet Technology</B></FONT></A>
						</TD>
						<TD align="RIGHT" valign="TOP" bgcolor="BLACK"><IMG src="[%imgpath%]rcorner.gif" width="4" height="4">
						</TD>
					</TR>
					<TR>
						<TD bgcolor="white" colspan="3"><FONT size="2">
	Check out these Web sites for articles, tutorials, FAQs, and code on
ASP and related technologies!
<HR noshade width="75%">&nbsp;&nbsp;-<A href="/ASPScripts/Goto.asp?ID=26">15Seconds.com</A><BR>&nbsp;&nbsp;-<A href="/ASPScripts/Goto.asp?ID=24">ASP101.com</A><BR>&nbsp;&nbsp;-<A href="/ASPScripts/Goto.asp?ID=29">ASPFAQs.com</A><BR>&nbsp;&nbsp;-<A href="/ASPScripts/Goto.asp?ID=25">ASPMessageboard.com</A><BR>&nbsp;&nbsp;-<A href="/ASPScripts/Goto.asp?ID=27">ASPWire.com</A><BR>&nbsp;&nbsp;-<A href="/ASPScripts/Goto.asp?ID=30">Swynk.com</A><BR>&nbsp;&nbsp;-<A href="http://www.xml101.com/">XML101.com</A><BR>
<HR noshade width="75%">
						<CENTER>[<A href="/ASPScripts/Goto.asp?ID=23"><I>Complete List of Sites</I></A>]</CENTER></FONT>
						</TD>
					</TR>
				</TABLE><BR>