
<HTML>
<HEAD>
<TITLE>4GuysFromRolla.com</TITLE>
[%4guys.style%]
</HEAD>
<BASEFONT face="arial, verdana" size="2">
<BODY bgcolor="white" text="black" link="#008080" vlink="#008080">
[%tmplMenu%]
<CENTER>
[%4guys.header%]<BR>
<TABLE width="98%" bgcolor="black" cellspacing="0">
<TR>
	<TD>
		<CENTER>
		<TABLE border="0" width="100%" bgcolor="008080" cellpadding="7" cellspacing="0">
		<TR>
			<TD colspan="3" align="center">
			[%OAS.JS%]
			[%OAS.468x60_1%]
			</TD>
		</TR>
		<TR>
			<TD width="20%" valign="TOP">
			[%4guys.left%]<BR><BR><BR>
			</TD>
			<TD valign="TOP" width="60%" cellpadding="0">
			[%4guys.center%]
			</TD>
			<TD width="20%" valign="TOP" cellpadding="0">
			[%4guys.right%]
			</TD>
		</TR>
		<TR>
			<TD colspan="3" align="center">
			[%OAS.468x60_2%]
			</TD>
		</TR>
		</TABLE>
	</TD>
</TR>
</TABLE><BR><BR>
<CENTER>
[%4guys.footer%]
</CENTER>
</BODY>
</HTML>
